build
.dart_tool
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache
.pub
ios/Pods
android/.gradle
android/app/build
linux/build
macos/Pods
windows/build
web/.dart_tool
node_modules
.git
.env
**/.DS_Store


